{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Kerala Backwaters - Travel2India</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header><h1>Kerala Backwaters</h1></header>
<div class="container">
     <div class="badge">Top Destination 🌟</div>
    <img src="{% static 'images/kerala.jpg' %}" alt="Kerala" style="max-width: 500%; height: 500px; width: 500px; border-radius: 12px; display: block; margin: 20px auto; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);">

    <p style="margin-top:20px;">
        The Kerala Backwaters are a unique ecosystem with palm-lined canals, houseboats, and peaceful villages. It's the perfect place for relaxation and traditional experiences.
    </p>
    <a href="/" class="back-btn">← Back to Home</a>
</div>
</div>


</body>
</html>
