{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Meghalaya - Travel2India</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header><h1>Meghalaya</h1></header>
<div class="container">
    <img src="{% static 'images/meghalaya.jpg' %}" alt="Meghalaya" style="max-width: 500%; height: 500px; width: 500px; border-radius: 12px; display: block; margin: 20px auto; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);">
    <p style="margin-top:20px;">
        Known as the ‘abode of clouds’, Meghalaya is home to stunning waterfalls, caves, and the world-famous living root bridges. A hidden gem in Northeast India.
    </p>
    <a href="/" class="back-btn">← Back to Home</a>
</div>


</body>
</html>
