{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Jodhpur - Travel2India</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header><h1>Jodhpur</h1></header>
<div class="container">
    <img src="{% static 'images/jodhpur.jpg' %}" alt="Jodhpur" style="max-width: 500%; height: 500px; width: 500px; border-radius: 12px; display: block; margin: 20px auto; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);">
    <p style="margin-top:20px;">
        Jodhpur, the Blue City, is renowned for its majestic forts and vibrant blue houses.
    </p>
    <a href="/" class="back-btn">← Back to Home</a>
</div>
</body>
</html>
