{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Delhi - Travel2India</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header><h1>Delhi</h1></header>
<div class="container">
    <img src="{% static 'images/delhi.jpg' %}" alt="Delhi" style="max-width: 500%; height: 500px; width: 500px; border-radius: 12px; display: block; margin: 20px auto; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);">
    <p style="margin-top:20px;">
        Delhi is the capital of India, known for its rich history, stunning monuments, vibrant markets, and delicious street food.
    </p>
    <a href="/" class="back-btn">← Back to Home</a>
</div>
</body>
</html>
