{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Kolkata - Travel2India</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header><h1>Kolkata</h1></header>
<div class="container">
    <!-- <div class="badge">Top Destination 🌆</div> -->
    <img src="{% static 'images/kolkata.jpg' %}" alt="Kolkata" style="max-width: 500%; height: 500px; width: 500px; border-radius: 12px; display: block; margin: 20px auto; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);">

    <p style="margin-top:20px;">
        Kolkata, the cultural capital of India, is known for its colonial architecture, art galleries, temples, and vibrant festivals. Don’t miss Victoria Memorial and Howrah Bridge.
    </p>
    <a href="/" class="back-btn">← Back to Home</a>
</div>
</body>
</html>
