{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Jaisalmer - Travel2India</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header><h1>Jaisalmer</h1></header>
<div class="container">
    <img src="{% static 'images/jaisalmer.jpg' %}" alt="Jaisalmer" style="max-width: 500%; height: 500px; width: 500px; border-radius: 12px; display: block; margin: 20px auto; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);">
    <p style="margin-top:20px;">
        Jaisalmer, known as the Golden City, is famous for its stunning sandstone architecture and desert adventures.
    </p>
    <a href="/" class="back-btn">← Back to Home</a>
</div>
</body>
</html>
